page-phone-number {
    .home-background {
        background: url("../assets/imgs/cab1.jpg") no-repeat  center fixed;
          background-size: cover;
        }       
      
                         
    .foter {
           background-color: transparent !important;
            width: 100%;
            text-align: center;
            height: 60%;
            position: fixed;
            bottom: 0px;
            margin-left: -50%;
    }

}
