page-show-ride-req-modal {
    .modalcss{
        visibility: visible !important;
        z-index:0;
    }
    .modalcss{
        top: 20%;
        width:60%;
        height:300px;
        position:absolute;
    }      
}
